<footer class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 text-footer">
    <div class="container">
        <div>
            <p>2022 kristhian</p>
        </div>
        <div class="d-flex">
            <a href="/"><p>Home</p></a>
            <a href="/about" class="ms-3"><p>About</p></a>
        </div>
    </div>
</footer>