<div class="back-footer">
<footer class="d-flex footer">
    <div class="container">
        <div class="d-flex">
            <p>2022 kristhian</p>
            <div class="d-flex">
                <a href="/"><p>Home</p></a>
                <a href="/about" class="ms-3"><p>About</p></a>
            </div>
        </div>
    </div>
</footer> 
</div>