<div class="home-p">
    <div class="container">
        <div class="home">
            <h1 class="titul">Manten tu dinero en orden!!</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aperiam illum quasi facere cum impedit eos nobis delectus voluptatibus non?</p>
            <div class="d-grid gap-2">
                <a href="/users/signup"><button class="btn btn-primary btn-regis" type="button">Registrate de forma gratuita</button></a>
            </div>
            <div><a href="/users/signin">¿Ya tienes cuenta? Inicia sesión</a></div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="wrapper">
            <div class="con-inicio">
                <figure class="p-inicio">
                    <img src="https://i.imgur.com/iycNo5E.png" alt="pantalla de inico">
                </figure>   
            </div>
            <div class="con-info">
                <div>
                    <h3>Permite registrar el dinero</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure praesentium ipsam recusandae animi hic voluptas repellendus vel placeat quisquam corrupti!</p>
                </div>
            <div>
                <h3>Adaptabilidad a móviles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum, possimus dolore inventore assumenda animi.</p>
            </div>
            <div>
                <h3>Contamos con una calculadora</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, illum eius saepe fugiat doloribus quae!</p>
            </div>
            </div>
        </div>
    </div>

